@charset "utf-8";
/* Reset */
html{font-size: 62.5%; -webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1;}
body{color: #161616; line-height: 2.3; word-spacing: 0; font-size: 1.6rem; font-family: 'Noto Sans JP', sans-serif;
-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; }

*{margin: 0; padding: 0; box-sizing: border-box; border: 0; outline: none;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: bold;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
th{font-weight: normal;}
a{color: inherit; text-decoration: none;}
img{vertical-align: bottom; max-width: 100%; height: auto;}

input, 
textarea,
select,
option,
optgroup,
button{-webkit-appearance: none; border-radius: 0; outline: none; font-family: 'Noto Sans JP', sans-serif;}

[class*="container-"]{margin: 0 auto; width: calc(100% - 40px);}
.container-1200{max-width: 1200px;}
.container-1500{max-width: 1500px;}

.cap,
[class*="cap-"]{font-size: 1.2rem; line-height: 1.4;}
.cap-abs_right{position: absolute; bottom: 0.8em; right: 0.8em; text-align: right;}
.cap-abs_left{position: absolute; bottom: 0.8em; left: 0.8em;}
.cap-right{padding-top: 0.8em; text-align: right;}
.cap-left{padding-top: 0.8em;}
.shadow{text-shadow: 0 0 1px rgba(255,255,255,.5), 0 0 2px rgba(255,255,255,.5), 0 0 3px rgba(255,255,255,.5), 0 0 4px rgba(255,255,255,.5), 0 0 5px rgba(255,255,255,.5), 0 0 6px rgba(255,255,255,.5), 0 0 7px rgba(255,255,255,.5), 0 0 8px rgba(255,255,255,.5), 0 0 9px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0 0 11px rgba(255,255,255,.5), 0 0 12px rgba(255,255,255,.5), 0 0 13px rgba(255,255,255,.5), 0 0 14px rgba(255,255,255,.5);}
.shadow-black{color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5), 0 0 3px rgba(0,0,0,.5), 0 0 4px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.5), 0 0 6px rgba(0,0,0,.5), 0 0 7px rgba(0,0,0,.5), 0 0 8px rgba(0,0,0,.5), 0 0 9px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5), 0 0 11px rgba(0,0,0,.5), 0 0 12px rgba(0,0,0,.5), 0 0 13px rgba(0,0,0,.5), 0 0 14px rgba(0,0,0,.5);}

.bold{font-weight: bold;}
.txt-link{color: #a59466; text-decoration: underline;}
.txt-link:hover{opacity: .8;}
.txt-yellow{color: #a59466;}

@media (min-width: 768px){
    a[href^="tel:"]{pointer-events: none;}
    .only-sp{display: none;}
    body{padding-top: 100px;}
}

@media (max-width: 767px){
    body{font-size: 1.4rem; line-height: 2.1; padding-top: 70px; padding-bottom: 60px;}
    .only-pc{display: none;}
    .txtS{font-size: 1.2rem; line-height: 2.1;}
    .cap,
    [class*="cap-"]{font-size: 1rem;}
}
