@charset "utf-8";

/* Reset */
:root{
    --color-primary:#DF0011;
}
html {
    font-size: 62.5%;
    -webkit-font-feature-settings: 'palt' 1;
    font-feature-settings: 'palt' 1;
}

body {
    word-spacing: 0;
    font-size: 1.6rem;
    line-height: 1.9;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: bold;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
option,
optgroup,
button {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

input,
textarea,
button,
select,
div,
a,
span {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
div,
select,
textarea,
img,
button {
    outline: none;
}

a:focus,
a:visited,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none;
}

[class*="container-"] {
    margin: 0 auto;
    width: calc(100% - 40px);
}
.container-1100{
    max-width: 1100px;
}
.container-1050{
    max-width: 1050px;
}

.cap,
[class*="cap-"] {
    font-size: 1.2rem;
    line-height: 1.4;
}

.cap-abs_right {
    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
    text-align: right;
}

.cap-abs_left {
    position: absolute;
    bottom: 0.8em;
    left: 0.8em;
}

.cap-right {
    padding-top: 0.8em;
    text-align: right;
}

.cap-left {
    padding-top: 0.8em;
}

.shadow {
    text-shadow: 0 0 1px rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .5), 0 0 3px rgba(255, 255, 255, .5), 0 0 4px rgba(255, 255, 255, .5), 0 0 5px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .5), 0 0 7px rgba(255, 255, 255, .5), 0 0 8px rgba(255, 255, 255, .5), 0 0 9px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0 0 11px rgba(255, 255, 255, .5), 0 0 12px rgba(255, 255, 255, .5), 0 0 13px rgba(255, 255, 255, .5), 0 0 14px rgba(255, 255, 255, .5);
}

.shadow-black {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(0, 0, 0, .5), 0 0 3px rgba(0, 0, 0, .5), 0 0 4px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .5), 0 0 6px rgba(0, 0, 0, .5), 0 0 7px rgba(0, 0, 0, .5), 0 0 8px rgba(0, 0, 0, .5), 0 0 9px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5), 0 0 11px rgba(0, 0, 0, .5), 0 0 12px rgba(0, 0, 0, .5), 0 0 13px rgba(0, 0, 0, .5), 0 0 14px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
    .only-sp {
        display: none;
    }
}

@media (max-width: 767px) {
    .only-pc {
        display: none;
    }

    .cap,
    [class*="cap-"] {
        font-size: 1rem;
    }
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: lightblue;
    z-index: 1000;
    padding: 30px 0;
}
.header__contain{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 15.182%;
}
.header-wrap{
    width: 56.364%;
}
.header-wrap .menu{
    display: flex;
    justify-content: space-between;
}
.header-nav{
    width: 23.637%;
    display: flex;
    justify-content: space-between;
}
.btn-pill-sm{
    max-width: 128px;
    width: 100%;
    border-radius: 100px;
    padding: 8px 0 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 1;
}
.btn-pill__sm--red{
    background: var(--color-primary);
}

.menu a.is-active,
.menu a {
    transition: 0.2s linear;
}

.menu a.is-active,
.menu a:hover {
    color: var(--color-primary);
}
.menu li a{
    font-size: 1.5rem;
}
.menu li{
    margin-right: min(2vw, 20px);
}
.menu li:last-child{
    margin-right: 0;
}

#pagetop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: rgba(17, 93, 51, .9);
    z-index: 90;
    cursor: pointer;
    display: none;
}

#pagetop:after {
    content: '';
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: 27px;
    left: 19px;
}

/* Animation */
.fade-in {
    opacity: 0;
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-in.is-view {
    opacity: 1;
    filter: blur(0) brightness(100%);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-up.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-left.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-right.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

@media (min-width: 768px) {
    .delay1 {
        transition-delay: .2s;
    }

    .delay2 {
        transition-delay: .4s;
    }

    .delay3 {
        transition-delay: .6s;
    }
}