@charset "utf-8";

/* Reset */
:root {
    --color-red: #DF0011;
    --color-darkblue: #07235A;
}

html {
    font-size: 62.5%;
    -webkit-font-feature-settings: 'palt' 1;
    font-feature-settings: 'palt' 1;
}

body {
    word-spacing: 0;
    font-size: 1.6rem;
    line-height: 1.9;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: bold;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
option,
optgroup,
button {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

input,
textarea,
button,
select,
div,
a,
span {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
div,
select,
textarea,
img,
button {
    outline: none;
}

a:focus,
a:visited,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none;
}

[class*="container-"] {
    margin: 0 auto;
    width: calc(100% - 40px);
}

.container-1100 {
    max-width: 1100px;
}

.container-1050 {
    max-width: 1050px;
}

.cap,
[class*="cap-"] {
    font-size: 1.2rem;
    line-height: 1.4;
}

.cap-abs_right {
    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
    text-align: right;
}

.cap-abs_left {
    position: absolute;
    bottom: 0.8em;
    left: 0.8em;
}

.cap-right {
    padding-top: 0.8em;
    text-align: right;
}

.cap-left {
    padding-top: 0.8em;
}

.shadow {
    text-shadow: 0 0 1px rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .5), 0 0 3px rgba(255, 255, 255, .5), 0 0 4px rgba(255, 255, 255, .5), 0 0 5px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .5), 0 0 7px rgba(255, 255, 255, .5), 0 0 8px rgba(255, 255, 255, .5), 0 0 9px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0 0 11px rgba(255, 255, 255, .5), 0 0 12px rgba(255, 255, 255, .5), 0 0 13px rgba(255, 255, 255, .5), 0 0 14px rgba(255, 255, 255, .5);
}

.shadow-black {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(0, 0, 0, .5), 0 0 3px rgba(0, 0, 0, .5), 0 0 4px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .5), 0 0 6px rgba(0, 0, 0, .5), 0 0 7px rgba(0, 0, 0, .5), 0 0 8px rgba(0, 0, 0, .5), 0 0 9px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5), 0 0 11px rgba(0, 0, 0, .5), 0 0 12px rgba(0, 0, 0, .5), 0 0 13px rgba(0, 0, 0, .5), 0 0 14px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
    .only-sp {
        display: none;
    }
}

@media (max-width: 767px) {
    .only-pc {
        display: none;
    }

    .cap,
    [class*="cap-"] {
        font-size: 1rem;
    }
}

.txt__tick {
    font-size: 1.5rem;
    color: #1d394b;
    position: relative;
    padding-left: 28px;
    margin-right: 35px;
}

.txt__tick:last-child {
    margin-right: 0;
}

.txt__tick span {
    font-size: 1.1rem;
}

.txt__tick::before {
    position: absolute;
    content: "";
    background-image: url(../imgs/common/icon-tick.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 26px;
    display: inline-block;
    left: 0;
}

.btn__pilltext:not(:last-child) {
    margin-right: min(3vw, 30px);
}

.btn__pilltext p {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto 3px;
    width: fit-content;
    position: relative;
}

.btn__pilltext p::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: -0.7em;
}

.btn__pilltext p::before,
.btn__pilltext p::after {
    content: '';
    background: #151515;
    width: 0.5px;
    height: 1.5rem;
    display: inline-block;
    position: absolute;
    bottom: 0.3em;

}

.btn__pilltext p::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: -0.7em;
}

.btn__pilltext a {
    border-radius: 100px;
    padding: 13px 0 16px;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    display: block;
}

.btn__pilltext--sm {
    width: 208px;
}
.btn__pilltext--red p::before,
.btn__pilltext--red p::after,
.btn__pilltext--red a {
    background: var(--color-red);
}

.btn__pilltext--red p {
    color: var(--color-red);
}

.btn__pilltext--md {
    width: 225px;
}
.btn__pilltext--darkblue p::before,
.btn__pilltext--darkblue p::after,
.btn__pilltext--darkblue a {
    background: var(--color-darkblue);
}

.btn__pilltext--darkblue p {
    color: var(--color-darkblue);
}

.center {
    text-align: center;
}
.secondary-title{
    text-align: center;
    font-size: 2.8rem;
    color: var(--color-darkblue);
    line-height: 1.6;
    margin-bottom: 1.8em;
}
.secondary-title span{
    font-size: 1.3rem;
    display: block;
    margin-bottom: 10px;
}
.main-heading{
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 1.8em;
}
.main-heading--darkblue{
    color: var(--color-darkblue);
}
.title__underline{
    font-size: 2.2rem;
    width: 100%;
    margin-bottom: 25px;
    color: var(--color-darkblue);
    padding-bottom: 8px;
    border-bottom: 1px solid #637798;
}
.title__underline--sm{
    border-bottom: 2px solid #e2e2e2;
    position: relative;
}
.title__underline--sm::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #0b0b0b;
    width: 86px;
    height: 2px;
}

.btn__radius{
    max-width: 345px;
    width: 100%;
    border-radius: 8px;
    border: 3px solid var(--color-darkblue);
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-darkblue);
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 17px 0;
    background: #ffffff;
}
.btn__radius::after{
    content: '';
    position: absolute;
    background: url("../imgs/common/icon-arrow-right.jpg") no-repeat center center/100% auto;
    display: inline-block;
    width: 12px;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    transition: 0.2s linear;
}
.btn__radius:hover::after{
    right: 5px;
}
/* 
sub-heading(h5)
*/

/* New Arrival */
.new-arrival{
    margin: min(6vw, 60px) 0 min(9vw, 90px);
    background: #eff5f9;
}
.new-arrival__outer{
    padding: 40px 0;
    max-width: 860px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.new-arrival__img{
    width: 34.535%;
}
.new-arrival__content{
    width: 56.977%;
}
.new-arrival__title{
    font-size: 2rem;
    color: var(--color-darkblue);
    margin-bottom: 7px;
}
.new-arrival__btn{
    width: 255px;
    padding: 14px 0;
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    border-radius: 100px;
    background: var(--color-darkblue);
}
/* End New Arrival */

/* Block Usage */
.block-usage{
    margin-bottom: 90px;
}
.block-usage .main-heading{
    margin-bottom: 1.2em;
}
.block-usage__desc{
    max-width: 790px;
}
.block__desc{
    margin: 0 auto 40px;
}
.block-usage__group{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .block-usage__item{
        width: 31.215%;
        margin: 0 3.16% 3.2% 0;
    }
    .block-usage__item:nth-child(3n + 3){
        margin-right: 0;
    }
    .block-usage__item:nth-child(n + 7){
        margin-bottom: 0;
    }
}
/* End Block Usage */

/* Block News */
.block-news{
    padding: 45px 0 50px;
    margin-bottom: 75px;
}
.block-news .main-heading {
    margin-bottom: 1.2em;
}
.block-news__desc{
    max-width: 760px;
}
.block-news__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.block-news__item{
    padding: 15px 15px 22px 15px;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 31%;
}
.bNews-item__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.bNews-item__title{
    font-size: 1.8rem;
    color: var(--color-darkblue);
    margin-bottom: 30px;
}
.bNews-item__bottom{
    margin-top: auto;
}
.bNews-item__desc{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.bNews-item__tag{
    width: 104px;
    border-radius: 100px;
    border: 1px solid #344d78;
    color: #163164;
    text-align: center;
    font-size: 1.4rem;
}
/* End Block News */
.bg__lightblue{
    background: #eff5f9;
}

/* Block Download */
.block-down{

}
.block-down__group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-down__item{
    width: 23.048%;
    display: flex;
    flex-direction: column;
}
.bdown-item__img{
    margin-bottom: 10px;
}
.bdown-item__content{
    flex: 1;
}
.bdown-item__title{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color-darkblue);
    margin-bottom: 17px;
}
.bdown-item__btn{
    width: 170px;
    border: 1px solid #bfbfbf;
    color: var(--color-darkblue);
    font-size: 1.3rem;
    padding: 9px 0;
    text-align: center;
    background: #f8f8f8;
    display: block;
    border-radius: 3px;
    font-weight: bold;
    margin-top:  auto;
}
.bdown-item__btn::before{}
/* End Block Download */


/* End Common */
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #ffffff;
    z-index: 1000;
    padding: 30px 0;
}

.header__contain {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 15.182%;
}

.header-wrap {
    width: 56.364%;
}

.header-wrap .menu {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    width: 23.637%;
    display: flex;
    justify-content: flex-end;
}

.hover {
    transition: 0.2s linear;
}

.hover:hover {
    opacity: 0.7;
}

.btn-pill-sm {
    /* max-width: 128px;
    width: 100%; */
    border-radius: 100px;
    padding: 10px 20px 12px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    line-height: 1;
}

.btn-pill-sm:not(:last-child) {
    margin-right: 10px;
}

.btn-pill__sm--red {
    background: var(--color-red);
}

.btn-pill__sm--darkblue {
    background: var(--color-darkblue);
}

.icon-downArrow {
    position: relative;
}

.icon-downArrow::after {
    position: absolute;
    content: "";
    border: solid var(--color-darkblue);
    left: calc(50% - 2px);
    top: 25px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.2s linear;
}

.is-active.icon-downArrow::after,
.icon-downArrow:hover:after {
    border: solid var(--color-red);
    border-width: 0 2px 2px 0;
}

.menu a.is-active,
.menu a {
    transition: 0.2s linear;
}

.menu a.is-active,
.menu a:hover {
    color: var(--color-red);
}

.menu li a {
    font-size: 1.5rem;
}

.menu li {
    margin-right: min(2vw, 20px);
}

.menu li:last-child {
    margin-right: 0;
}

/* End Header */
.main {
    padding-top: 90px;
}

/* mv */
.mv {
    background: #eff5f9;
    padding: 55px 0;
}

.mv__title {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 40px;
}

.mv__title span {
    font-size: 2.35rem;
}

.mv__outer {
    display: flex;
    justify-content: space-between;
}

.mv__left {
    padding-top: 25px;
    width: 46.667%;
}

.mv__title {}

.mv__desc {}

.mv__tick {
    display: flex;
    margin: 35px 0 55px;
}

.mv__btn {
    display: flex;
}

.mv__right {
    width: 50.477%;
}

.mv__img {
    margin-bottom: 10px;
}

/* End mv */

#pagetop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: rgba(17, 93, 51, .9);
    z-index: 90;
    cursor: pointer;
    display: none;
}

#pagetop:after {
    content: '';
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: 27px;
    left: 19px;
}

/* Footer */
footer{
    padding-top: 30px;
    background: #1d394b;
    color: #ffffff;
}
.footer__inner{
    display: flex;
}
.footer__logo{
    width: 15.91%;
    margin-right: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo__top{

}
.footer-logo__title{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.footer-logo__bottom{

}
.footer__menu{
    width: 70.91%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
}
.footer__nav:not(:last-child){
    margin-right: 20px;
}
.footer__nav ul:not(:last-child){
    margin-right: 20px;
} 
.footer__nav:nth-child(1){
    width: 56%;
}
.footer__nav:nth-child(2){
    width: 35%;
}
.footer-nav__item{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 1.3rem;
}
.link__icon{
    display: flex;
    align-items: center;
}
.link__icon::after{
    background: url(../imgs/common/icon-link.jpg) center no-repeat;
    content: "";
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
}
.footer-nav__item--child{
    /* font-size: 1.2rem; */
}
.copyright{
    margin-top: 10px;
    border-top: 1px solid #3f5563;
    padding: 20px 0;
}
.copyright__contain{
    width: calc(100% - 40px);   
    margin: 0 auto; 
}
.copyright__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-nav__item{
    font-size: 1.5rem;
}
.copyright-nav__item:not(:last-child){
    margin-right: min(4vw, 35px);
}
.copyright-nav__item.link__icon:not(:last-child){
    margin-right: min(3vw, 25px);
}
.copyright__title{
    font-size: 1.2rem;
    text-align: center;
}
/* End Footer */


/* Animation */
.fade-in {
    opacity: 0;
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-in.is-view {
    opacity: 1;
    filter: blur(0) brightness(100%);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-up.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-left.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-right.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

@media (min-width: 768px) {
    .delay1 {
        transition-delay: .2s;
    }

    .delay2 {
        transition-delay: .4s;
    }

    .delay3 {
        transition-delay: .6s;
    }
}