@charset "utf-8";

/* Reset */
:root {
    --color-red: #E60012;
    --color-darkblue: #00235B;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 62.5%;
}

body {
    word-spacing: 0;
    font-size: 1.6rem;
    line-height: 1.9;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: bold;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

a {
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
option,
optgroup,
button {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

input,
textarea,
button,
select,
div,
a,
span {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
div,
select,
textarea,
img,
button {
    outline: none;
}

a:focus,
a:visited,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none;
}

[class*="container-"] {
    margin: 0 auto;
    width: calc(100% - 40px);
}
.container-1280 {
    max-width: 1280px;
}
.container-1240 {
    max-width: 1240px;
}
.container-1220 {
    max-width: 1220px;
}
.container-1210 {
    max-width: 1210px;
}

.wrapper {
    margin-top: 40px;
}

.cap,
[class*="cap-"] {
    font-size: 1.2rem;
    line-height: 1.4;
}

.cap-abs_right {
    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
    text-align: right;
}

.cap-abs_left {
    position: absolute;
    bottom: 0.8em;
    left: 0.8em;
}

.cap-right {
    padding-top: 0.8em;
    text-align: right;
}

.cap-left {
    padding-top: 0.8em;
}

.shadow {
    text-shadow: 0 0 1px rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .5), 0 0 3px rgba(255, 255, 255, .5), 0 0 4px rgba(255, 255, 255, .5), 0 0 5px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .5), 0 0 7px rgba(255, 255, 255, .5), 0 0 8px rgba(255, 255, 255, .5), 0 0 9px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0 0 11px rgba(255, 255, 255, .5), 0 0 12px rgba(255, 255, 255, .5), 0 0 13px rgba(255, 255, 255, .5), 0 0 14px rgba(255, 255, 255, .5);
}

.shadow-black {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(0, 0, 0, .5), 0 0 3px rgba(0, 0, 0, .5), 0 0 4px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .5), 0 0 6px rgba(0, 0, 0, .5), 0 0 7px rgba(0, 0, 0, .5), 0 0 8px rgba(0, 0, 0, .5), 0 0 9px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5), 0 0 11px rgba(0, 0, 0, .5), 0 0 12px rgba(0, 0, 0, .5), 0 0 13px rgba(0, 0, 0, .5), 0 0 14px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
    .only-sp {
        display: none;
    }
}

@media (max-width: 767px) {
    .only-pc {
        display: none;
    }

    .cap,
    [class*="cap-"] {
        font-size: 1rem;
    }
    body{
        font-size: 1.4rem;
    }
}

.txt__tick {
    font-size: 1.5rem;
    color: #1d394b;
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.txt__tick:last-child {
    margin-right: 0;
}

.txt__tick span {
    font-size: 1.1rem;
}

.txt__tick::before {
    content: "";
    background: url(../imgs/common/icon-stick.svg) center no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 5px;
}

.btn__pilltext:not(:last-child) {
    margin-right: min(1.2vw, 30px);
}

.btn__pilltext p {
    font-size: min(1.4vw, 1.4rem);
    text-align: center;
    margin: 0 auto 3px;
    width: fit-content;
    position: relative;
}

.btn__pilltext p::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: -0.7em;
}

.btn__pilltext p::before,
.btn__pilltext p::after {
    content: '';
    background: #151515;
    width: 0.5px;
    height: 1.5rem;
    display: inline-block;
    position: absolute;
    bottom: 0.3em;

}

.btn__pilltext p::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: -0.7em;
}

.btn__pilltext a {
    border-radius: 100px;
    padding: 1.05em 0;
    color: #ffffff;
    font-size: min(1.7vw, 1.6rem);
    display: block;
    font-weight: 500;
    transition: 0.2s linear;
    text-align: center;
}

.btn__pilltext--sm {
    width: 245px;
}

.btn__pilltext--sm a {
    /* padding-left: 2.7vw; */
}

.btn__pilltext--red p::before,
.btn__pilltext--red p::after,
.btn__pilltext--red a {
    background: var(--color-red);
}

.btn__pilltext--red a {
    border: 1px solid var(--color-red);
}

.btn__pilltext--red p {
    color: var(--color-red);
}

.btn__pilltext--md {
    width: 260px;
}

.btn__pilltext--md a {
    /* padding-left: 1.8vw; */
}

.btn__pilltext--darkblue p::before,
.btn__pilltext--darkblue p::after,
.btn__pilltext--darkblue a {
    background: var(--color-darkblue);
}

.btn__pilltext--darkblue a {
    border: 1px solid var(--color-darkblue);
}

.btn__pilltext--darkblue p {
    color: var(--color-darkblue);
}

.btn__pilltext a:hover {
    background: #ffffff;
}

.btn__pilltext--red a:hover {
    color: var(--color-red);
}

.btn__pilltext--darkblue a:hover {
    color: var(--color-darkblue);
}

.center {
    text-align: center;
}

.secondary-title {
    text-align: center;
    font-size: 3rem;
    color: var(--color-darkblue);
    line-height: 1.5;
    margin-bottom: 50px;
}

.main-title span {
    display: block;
    font-size: 1.6rem;
    color: #3C486B;
    margin-bottom: 15px;
}

.main-title {
    font-size: 3.4rem;
    line-height: 1.5;
    text-align: center;
    color: var(--color-darkblue);
    margin-bottom: 46px;
}

.main-desc {
    max-width: 1000px;
    margin: 0 auto;
}

.main-heading {
    font-size: 2.6rem;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 25px;
    color: var(--color-darkblue);
}

.main-heading--black {
    color: #333333;
}

.main-heading span {
    font-size: 1.6rem;
}

.btn__radius {
    max-width: 400px;
    width: 100%;
    border-radius: 9px;
    border: 3px solid var(--color-darkblue);
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-darkblue);
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 22px 0;
    background: #ffffff;
    transition: 0.2s linear;
}

.btn__radius::after {
    content: '';
    position: absolute;
    background: url("../imgs/common/icon-arrow-right-darkblue.svg") no-repeat center center/100% auto;
    display: inline-block;
    width: 9px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    transition: 0.2s linear;
}

.btn__radius:hover {
    background: var(--color-darkblue);
    color: #ffffff;
}

.btn__radius:hover::after {
    background: url("../imgs/common/icon-arrow-right-white.svg") no-repeat center center/100% auto;
}
.btn__pill{
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    transition: 0.2s linear;
    display: block;
    width: 100%;
}
.btn__pill:hover{
    background: #ffffff;
}
.btn__pill--md{
    max-width: 340px;
    line-height: 1.5;
    padding: 21px 0 25px;
    color: #ffffff;
    font-size: 1.8rem;
}
.btn__pill--red{
    background: var(--color-red);
    border: 1px solid var(--color-red);
}
.btn__pill--red:hover{
    color: var(--color-red);
}
.ex-link{
    text-decoration: underline;
    color: var(--color-red);
}
@media (max-width: 768px) {
    .secondary-title{
        font-size: min(6vw, 3rem);
        margin-bottom: 20px !important;
        
    }
    .main-heading{
        font-size: min(5.5vw, 2.4rem);
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .btn__radius{
        max-width: 300px;
        padding: 15px 0;
        font-size: 1.4rem;
        border: 2px solid var(--color-darkblue);
    }
}
/* 
sub-heading(h5)
*/

/* ==================================================================== */
/* ============================ End Common ============================ */
/* ==================================================================== */

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px;
    padding: 30px 0; */
    background: #ffffff;
    z-index: 1000;
    transition: 0.2s linear;
}
header.blur-header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header__contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.header-logo {
    width: 14.454%;
}

.header-wrap {
    width: 82.8125%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap .nav__menu {
    width: 66.925%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__list > li{
    padding: 35px 0;
}

.nav__link{
    font-size: min(1.3vw, 1.6rem);
    font-weight: 500;
    display: block;
    transition: 0.2s linear;
}

.nav__link.isActive,
.nav__link:hover{
    color: var(--color-red);
}
.nav__link.isActive .icon-downArrow::after,
.nav__link:hover .icon-downArrow::after{
    border: solid var(--color-red);
    border-width: 0 2px 2px 0;
}

.dropdown__button{
    position: relative;
}
.dropdown__item {
    cursor: pointer;
}
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

.dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}
.dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background: #ffffff;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    max-width: 1280px;
    margin: 0 auto;
}

.menu-child__wrap {
    opacity: 0;
    visibility: hidden;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 1280px;
    width: 100%;
    background: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
}
.menu-child__outer {
    max-width: 930px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: min(3vw, 50px) 0 50px 0;
    margin: 0 0 0 min(11vw, 120px);
}

.menu-child__txt {
    width: 210px;
    font-size: 2.4rem;
    color: var(--color-darkblue);
    font-weight: bold;
    margin-right: min(8.5vw, 160px);

}

.menu-child__contain {
    max-width: 570px;
    width: 60%;
}

.menu-child__contain ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * (min(4vw, 35px)));
}

.menu-child__contain ul li a {
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.2s linear;
}

.menu-child__contain ul li {
    margin-bottom: min(2vw, 35px);
}

.menu-child__contain ul li:not(:last-child) {
    margin-right: min(6vw, 60px);
}

.menu-child__contain ul li::before {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: var(--color-darkblue);
    border-radius: 50%;
    content: "";
    margin-right: 10px;
}
.menu-child__contain ul li:hover a,
.menu-child__contain ul li.isActive::before{
    color: var(--color-red);
}
.header-nav {
    width: 29.302%;
    display: flex;
    justify-content: space-between;
}

.header-nav a:nth-child(1) {
    max-width: 160px;
    width: 100%;
}

.header-nav a:nth-child(2) {
    max-width: 140px;
    width: 100%;
}

.hover {
    transition: 0.2s linear;
}

.hover:hover {
    opacity: 0.7;
}

.btn-pill-sm {
    border-radius: 100px;
    padding: 9px 20px 11px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    font-size: min(1vw, 1.6rem);
    transition: 0.2s linear;
    display: block;
}

.btn-pill-sm:not(:last-child) {
    margin-right: 10px;
}

.btn-pill-sm:hover {
    background: #ffffff;
}

.btn-pill__sm--red {
    background: var(--color-red);
    border: 1px solid var(--color-red);
}

.btn-pill__sm--darkblue {
    background: var(--color-darkblue);
    border: 1px solid var(--color-darkblue);
}

.btn-pill__sm--red:hover {
    color: var(--color-red);
}

.btn-pill__sm--darkblue:hover {
    color: var(--color-darkblue);
}

.icon-downArrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.icon-downArrow::after {
    position: absolute;
    content: "";
    border: solid var(--color-darkblue);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.2s linear;
}


#btn-menu {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 900;
    cursor: pointer;
    display: none;
}

#btn-menu span {
    position: absolute;
    left: 0;
    display: block;
    background: var(--color-darkblue);
    height: 2px;
    width: 100%;
    transition: transform .4s;
}

#btn-menu span:nth-of-type(1) {
    top: 4px;
}

#btn-menu span:nth-of-type(2) {
    top: 12px;
}

#btn-menu span:nth-of-type(3) {
    top: 20px;
}

#btn-menu.is-open span:nth-of-type(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 12px;
}

#btn-menu.is-open span:nth-of-type(2) {
    opacity: 0;
}

#btn-menu.is-open span:nth-of-type(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 12px;
}
@media (min-width: 1025px) {
    .dropdown__item:hover > .dropdown__container {
        top: 100px;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }

}
@media (max-width: 1024px) {
    .header-wrap{
        background: #ffffff;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        /* height: calc(100vh - 3.5rem); */
        overflow: auto;
        /* padding-block: 1.5rem 4rem; */
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
        height: 100vh;
        display: none;
    }
    .header-wrap.is-visible{
        display: block;
        opacity: 1;
    }
    .header-wrap .nav__menu{
        width: 100%;
        padding: 20px;
    }
    #btn-menu {
        display: block;
    }

    .header-logo {
        width: 185px;
    }

    header {
        height: 70px;
        padding: 20px 0;
    }
    .main {
        padding-top: 70px !important;
    }
    .btn-pill-sm{
        font-size: min(4vw, 1.6rem);
    }
    .nav__list{
        flex-direction: column;
    }
    .nav__link {
        font-size: 1.6rem;
        padding: 20px;
        transition: 0.2s linear;
        border-bottom: 1px solid #cccccc;
    }
    .nav__link:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #f8f8f8;
    }
    .icon-downArrow {
        position: absolute;
        left: unset;
        top: 40%;
        right: 20px;
    }
    .icon-downArrow::after{
        /* transition: 0s linear; */
    }
    .dropdown__button.is-open .icon-downArrow::after{
        transform: rotate(220deg);
        -webkit-transform: rotate(220deg);
    }
    .nav__list > li{
        padding: 0;
    }
    .dropdown__container{
        position: unset;
        opacity: 1;
        display: none;
        background: #f8f8f8;
    }
    .menu-child__outer{
        margin: 0;
        flex-direction: column;
        padding: 20px;
    }
    .menu-child__txt{
        margin-right: 0;
        font-size: 2rem;
        width: 100%;
    }
    .menu-child__contain{
        width: 100%;
        max-width: 100%;
    }
    .menu-child__contain ul{
        margin: 0;
    }
    .menu-child__contain ul li{
        width: 100%;
        margin: 10px 0 0 0;
    }
    .header-nav {
        margin: 20px 0 0 0;
        width: 100%;
        justify-content: center;
        padding: 0 20px;
    }

}

/* End Header */
.main {
    padding-top: 100px;
}
/* ==================================================================== */
/* ============================ Start Top ============================ */
/* ==================================================================== */
/* mv */
.mv {
    background: #eff5f9;
    padding: 60px 0;
}

.mv__title {
    font-size: min(3vw ,3.2rem);
    font-weight: bold;
    padding-bottom: 40px;
    color: var(--color-darkblue);
}

.mv__title span {
    font-size: min(4vw, 4rem);
}

.mv__outer {
    display: flex;
    justify-content: space-between;
}

.mv__left {
    padding-top: 25px;
    width: 47.667%;
}
.mv__tick {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 55px;
}
.mv__tick .txt__tick{
    margin-bottom: 10px;
}
.mv__btn {
    display: flex;
    /* flex-wrap: wrap; */
}
.mv__btn .btn__pilltext--red{
    margin-bottom: 20px;
}
.mv__right {
    width: 50.477%;
}

.mv__img {
    margin-bottom: 10px;
}

.mv__right .cap {
    color: #19394C;
}
@media (max-width: 768px) {
    .mv{
        padding: 30px 0;
    }
    .mv__outer{
        flex-direction: column;
    }
    .mv__left{
        width: 100%;
        padding-top: 0;
    }
    .mv__right{
        padding-top: 20px;
        width: 100%;
        /* order: -1; */
    }
    .mv__title{
        font-size: min(5.7vw, 3rem);
        padding-bottom: 20px;
    }
    .mv__title span{
        font-size: min(6.6vw, 4rem);
    }
    .mv__tick {
        justify-content: flex-start;
        margin: 15px 0 25px;
    }
    .mv__btn{
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn__pilltext p{
        font-size: 1.4rem;
    }
    .btn__pilltext a{
        padding: 0.8em 0;
        font-size: 1.6rem;
    }
}
/* End mv */

/* Brand */
.brand{
    padding: 0 min(6vw, 60px);
    margin-bottom: 77px;
}
.brand-slide{
    margin: 30px 0 50px 0;
}
.brand-slide__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
}
.slick-initialized .slick-slide{
    /* width: fit-content !important; */
    margin: 0 10px;
}
.brand-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-gr__item:nth-child(1){
    margin-right: 30px;
}
@media (max-width: 768px) {
    .brand{
        padding: 0;
    }
    .brand-group{
        flex-wrap: wrap;
    }
    .brand-gr__item:nth-child(1) {
        margin: 0 0 20px;
    }
    .brand-gr__item{
        width: 100%;
        text-align: center;
    }
    .brand-slide{
        margin: 20px 0;
    }
}
/* End Brand */

.intro{
    margin-bottom: 110px;
}
.intro__box{
    display: flex;
    justify-content: space-between;
}
.intro__inner{
    width: 47.541%;
}
.intro__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
    max-width: 555px;
    width: 100%;
}
.intro__img{
    width: 49.181%;
}
@media (max-width: 768px) {
    .intro__box{
        flex-direction: column;
    }
    .intro__inner{
        width: 100%;
    }
    .intro__img{
        width: 100%;
    }
    .intro{
        margin-bottom: 50px;
    }
}
/* End Intro */

/* Top Feature */
.top-fea__item{
    display: flex;
    justify-content: space-between;
}
.top-fea__item:not(:last-child){
    margin-bottom: min(7vw, 70px);
}
.top-fea__item--inner{
    width: 47.541%;
}
.top-fea__item--subtitle{
    font-size: 1.4rem;
    font-weight: bold;
    color: #F45050;
    margin-bottom: 5px;
}
.top-fea__item .main-heading{
    text-align: left;
}
.top-fea__item--img{
    width: 45.082%;
}
.top-fea__item--cap{
    font-size: 1.4rem;
}
.top-feature__group{
    margin-bottom: min(6vw, 63px);
}
.top-feature{
    margin-bottom: 70px;
}
@media (max-width: 768px) {
    .top-fea__item{
        flex-direction: column;
    }
    .top-fea__item--inner{
        width: 100%;
        margin-bottom: 10px;
    }
    .top-fea__item--img{
        width: 100%;
    }
    .top-fea__item:nth-child(even) .top-fea__item--inner{
        order: -1;
    }
    .top-fea__item--cap{
        font-size: 1.2rem;
    }
    .top-feature{
        margin-bottom: 30px;
    }
}
/* End Top Feature */
/* New Arrival */
.new-arrival {
    margin: min(6vw, 60px) 0 min(9vw, 90px);
    background: #eff5f9;
}

.new-arrival__outer {
    padding: 40px 0 50px;
    max-width: 1020px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.new-arrival__img {
    width: 33.922%;
}

.new-arrival__content {
    width: 57.059%;
}

.new-arrival__title {
    font-size: 2.2rem;
    color: var(--color-darkblue);
    margin-bottom: 8px;
}

.new-arrival__btn {
    width: fit-content;
    padding: 19px 40px;
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.7;
    margin-top: 28px;
    display: block;
    border-radius: 100px;
    background: var(--color-darkblue);
    border: 1px solid var(--color-darkblue);
    transition: 0.2s linear;
}

.new-arrival__btn:hover {
    background: #ffffff;
    color: var(--color-darkblue);
}
@media (max-width: 768px) {
    .new-arrival__outer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .new-arrival__img{
        width: 100%;
    }
    .new-arrival__content{
        width: 100%;
        margin-top: 20px;
    }
    .new-arrival__btn{
        margin: 15px auto 0;
        padding: 15px 30px;
    }
}
/* End New Arrival */

/* Block Usage */
.block-usage {
    margin-bottom: 90px;
}

.block-usage .secondary-title {
    margin-bottom: 30px;
}

.block-usage__desc {
    max-width: 1000px;
}

.block__desc {
    max-width: 1000px;
    margin: 0 auto 40px;
}

.block-usage__group {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 769px) {
    .block-usage__item {
        width: 31.452%;
        margin: 0 2.823% 3.226% 0;
    }

    .block-usage__item:nth-child(3n + 3) {
        margin-right: 0;
    }

    .block-usage__item:nth-child(n + 7) {
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {
    .block-usage__group{
        padding: 0;
        margin-right: -2%;
        justify-content: center;
    }
    .block-usage__item {
        width: 48%;
        margin: 0 2% 2% 0;
    }
    /* .block-usage__item:nth-child(2n + 2) {
        margin-right: 0;
    } */
    .block__desc {
        margin: 0 auto 20px !important;
    }
    .block-usage{
        margin-bottom: 50px;
    }
}
@media (max-width: 430px) {
    .block-usage__item {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .block-usage__group{
        margin: 0;
    }
}

/* End Block Usage */

/* Block News */
.block-news {
    padding: 70px 0 60px;
    margin-bottom: 85px;
}

.block-news .secondary-title {
    margin-bottom: 30px;
}

.block-news__desc {
    max-width: 878px;
    margin: 0 auto 50px;
}

.block-news__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.block-news__item {
    padding: 15px 15px 22px 15px;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 31%;
}

.bNews-item__content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.bNews-item__title {
    font-size: 1.8rem;
    color: var(--color-darkblue);
    margin-bottom: 30px;
}

.bNews-item__bottom {
    margin-top: auto;
}

.bNews-item__desc {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.bNews-item__tag {
    width: 104px;
    border-radius: 100px;
    border: 1px solid #344d78;
    color: #163164;
    text-align: center;
    font-size: 1.4rem;
    transition: 0.2s linear;
}
/* .bNews-item__tag:hover{
    background: #344d78;
    color: #ffffff;
} */
@media (max-width: 768px) {
    .block-news{
        padding: 30px 0;
        margin-bottom: 45px;
    }
    .block-news__group{
        margin-bottom: 35px;
    }
    .block-news__item{
        width: 49%;
        margin: 0 0 20px 0;
    }
    .block-news__item:last-child{
        margin-bottom: 0;
    }
    .bNews-item__title{
        font-size: 1.6rem;
        line-height: 1.7;
        margin-bottom: 10px;
    }
}
@media (max-width: 578px) {
    .block-news__item{
        width: 100%;
    }
}
/* End Block News */
.bg__lightblue {
    background: #eff5f9;
}

/* Block Price */
.block-price{
    margin-bottom: min(10vw, 110px);
}
.block-price .secondary-title{
    margin-bottom: 40px;
}

.block-price__desc{
    max-width: 878px;
    margin-bottom: 60px;
}
.bprice__group{
    max-width: 1180px;
    margin: 0 auto min(7vw, 50px);
    display: flex;
    justify-content: space-between;
}
.bprice__item{
    width: 47.458%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(5vw, 39px) 3vw min(5vw, 35px);
}
.bprice-item__desc{
    text-align: center;
    font-weight: bold;
}
.bprice-item__img{
    margin-top: 36px;
}
@media (max-width: 768px) {
    .bprice__group{
        flex-direction: column;
    }
    .bprice__item{
        width: 100%;
    }
    .bprice__item:nth-child(1){
        margin-bottom: 20px;
    }
    .bprice-item__img{
        margin-top: min(4vw, 30px);
    }
    .block-price{
        margin-bottom: 60px;
    }
}
/* End Block Price */


/* Block Download */
.block-down {
    margin-bottom: min(10vw, 110px);
}

.block-down__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto min(7vw, 79px);
    max-width: 1210px;
}

.block-down__item {
    width: 23.048%;
    display: flex;
    flex-direction: column;
}

.bDown-item__img {
    margin-bottom: 12px;
}

.bDown-item__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bDown-item__title {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-darkblue);
    margin-bottom: 17px;
}

.btn__download {
    max-width: 200px;
    width: 100%;
    border: 1px solid #AAAAAA;
    color: var(--color-darkblue);
    font-size: 1.4rem;
    line-height: 1.6;
    padding: 13px 0;
    text-align: center;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: bold;
    margin-top: auto;
    transition: 0.2s linear;
}

.btn__download::before {
    content: "";
    background-color: var(--color-darkblue);
    -webkit-mask: url("../imgs/common/icon-dowload.svg") no-repeat center;
    mask: url("../imgs/common/icon-dowload.svg") no-repeat center;
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-right: 7px;
    transition: 0.2s linear;
}

.btn__download:hover {
    background: var(--color-darkblue);
    color: #ffffff;
    border: 1px solid var(--color-darkblue);
}
.btn__download:hover::before{
    background-color: #ffffff;
}

.btn__download--secon{    
    background: var(--color-darkblue);
    color: #ffffff;
    border: 1px solid var(--color-darkblue);
}
.btn__download--secon::before{
    background-color: #ffffff;
}

.btn__download--secon:hover {
    background: #F8F8F8;
    color: var(--color-darkblue);
    border: 1px solid #AAAAAA;
}
.btn__download--secon:hover::before{
    background-color: var(--color-darkblue);
}

.btn__download--noicon::before{
    display: none;
}
@media (max-width: 768px) {
    .block-down{
        margin-bottom: 50px;
    }
    .block-down__item{
        width: 49%;
        margin: 0 2% 5% 0;
    }
    .block-down__item:nth-child(2n + 2){
        margin-right: 0;
    }
    .block-down__group{
        margin-bottom: 50px;
    }
    .btn__download{
        max-width: 180px;
        padding: 10px 0;
        font-size: 1.2rem;
    }
}
@media (max-width: 468px) {
    .block-down__item{
        width: 100%;
        margin: 0 0 40px 0;
    }
    .block-down__item:last-child{
        margin-bottom: 0;
    }
    
}
/* End Block Download */

/* Block Blog */
.bg--gray {
    background: #F8F8F8;
}

.block__blog {
    padding: min(7vw, 70px) 0;
    margin: 0 0 min(10vw, 100px);
}

.block__blog .secondary-title {
    margin-bottom: 40px;
}

.block-blog__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: min(6vw, 50px);
    padding: 0 20px;
}

.bBlog__item {
    width: 30.646%;
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.bBlog-item__content {
    padding: 20px 25px;
}

.bBlog-item__datetime {
    font-size: 1.2rem;
    color: #3C486B;
    font-weight: bold;
    margin-bottom: 6px;
}

.bBlog-item__name {
    transition: 0.2s linear;
}

.bBlog__item:hover .bBlog-item__name {
    color: #e60415;
}

.bBlog-item__name--active{
    color: #e60415;
}
@media (max-width: 768px) {
    .block-blog__group{
        padding: 0;
    }
    .bBlog__item{
        width: 48%;
        margin: 0 0 4% 0;
    }
    .bBlog-item__content {
        padding: 20px 15px;
    }
    .block__blog .btn__radius::after{
        right: 10px;
    }
}
@media (max-width: 468px) {
    .bBlog__item{
        width: 100%;
    }
}
/* End Block Blog */

/* Block Iframe */
.block-iframe{
    margin-bottom: min(10vw, 110px);
}
.block-iframe .main-heading{
    margin-bottom: 40px;
}
.block-iframe__inner{
    margin-top: 40px;
    text-align: center;
}
@media (max-width: 768px) {
    .block-iframe{
        margin-bottom: 50px;
    }
    .block-iframe .main-heading{
        margin-bottom: 20px;
    }
    .block-iframe__inner{
        margin-top: 20px;
    }
}
/* End Block Iframe */

/* Block Contact */
.top .block__contact{
    margin-bottom: min(9vw, 95px);
}
.block__contact {
    margin-bottom: min(7.7vw, 75px);
}

.bContact__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.bContact__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bContact__item01 {
    width: 21.25%;
}
.bContact__item02 {
    width: 22.417%;
}
.bContact__item03 {
    width: 16.584%;
}
.bContact__item04 {
    width: 19.917%;
}
.bContact-item__title {
    font-size: 1.7rem;
    color: var(--color-darkblue);
    text-align: center;
}

.bContact-item__img {
    margin: 26px 0;
}

.bContact-item__btn {
    border: 1px solid #cacaca;
    background: #f8f8f8;
    font-size: 1.4rem;
    color: var(--color-darkblue);
    text-align: center;
    max-width: 164px;
    width: 100%;
    padding: 7px 5px;
    display: block;
    margin: 0 auto;
}

.bContact-item__inner {
    margin-top: 20px;
}

.bContact-item__icon {
    text-align: center;
    margin-bottom: 13px;
}

.bContact-item__tel {
    display: block;
    text-align: center;
    font-size: min(3vw, 3.3rem);
    font-weight: bold;
    color: var(--color-darkblue);
    transition: 0.2s linear;
}

.bContact-item__tel:hover {
    color: var(--color-red);
}

.bContact-item__notetime {
    font-size: 1.2rem;
    line-height: 1.5;
}
@media (max-width: 768px) {
    .bContact__item{
        width: 48% !important;
        margin: 0 0 6% 0;
    }
    .bContact-item__tel{
        font-size: 3rem;
    }
    .bContact-item__img{
        margin: 5px 0 16px 0;
    }
    .block__contact{
        margin-bottom: 50px !important;
    }
}
@media (max-width: 430px) {
    .bContact__item{
        width: 100% !important;
        margin-bottom: 30px;
    }
    .bContact__item:last-child{
        margin-bottom: 0;
    }
}
/* End Block Contact */

/* ---------------- FAQ ----------------*/
.faq {
    padding: 40px 0;
}

.faq__group {}

.faq__item {
    background: #ffffff;
    padding: 25px 22px 25px 33px;
    transition: 0.2s linear;
}

.faq__item:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.faq__item.is-open:hover {
    box-shadow: unset;
}

.faq-item__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item__question {
    display: flex;
    align-items: center;
}

.faq-item__txt {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.faq-item__txt p {
    font-size: 2.8rem;
    line-height: 1;
    font-weight: 500;
    margin: 0 2px 5px 0;
}

.faq-item__txtQ {
    background: var(--color-darkblue);
}

.faq-item__title {
    font-size: 1.8rem;
    color: var(--color-darkblue);
    margin-left: 18px;
}

.faq-item__btn {
    position: relative;
    width: 23px;
    height: 23px;
}

.faq-item__btn::before,
.faq-item__btn::after {
    content: '';
    position: absolute;
    background: var(--color-darkblue);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}

.faq-item__head.is-open .faq-item__btn::after {
    height: 0;
}

.faq-item__btn::before {
    width: 100%;
    height: 1.5px;
}

.faq-item__btn::after {
    width: 1.5px;
    height: 100%;
}

.faq-item__hide {}

.faq-item__answer {}

.faq-item__titleA {}

.faq-item__subtitle {}

.faq-item__content {}
/* ==================================================================== */
/* ============================ End Top ============================ */
/* ==================================================================== */


#pagetop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: rgba(17, 93, 51, .9);
    z-index: 90;
    cursor: pointer;
    display: none;
}

#pagetop:after {
    content: '';
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: 27px;
    left: 19px;
}

/* page-breadcrumb */
.page-breadcrumb {
    padding: 11px 0 8px 15px;
    display: flex;
    margin-top: min(9vw, 80px);
}

.breadcrumb__item {
    font-size: 1rem;
    color: #3C486B;
    display: block;
}

.breadcrumb__item--active {
    text-decoration: underline;
}

.breadcrumb__item--active::after {
    content: "";
    display: inline-block;
    background: url(../imgs/common/icon-breadcrumb.svg) center no-repeat;
    width: 6px;
    height: 11px;
    position: relative;
    top: 2px;
    margin: 0 10px;
}

/* End page-breadcrumb */

/* Footer */
footer {
    padding-top: 35px;
    background: #1d394b;
    color: #ffffff;
}

.footer__inner {
    display: flex;
}

.footer__logo {
    width: 15.91%;
    margin-right: min(4vw, 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo__top {}

.footer-logo__title {
    font-size: 1rem;
    margin-bottom: 7px;
}

.top .footer-logo__bottom {
    display: block;
}

.footer-logo__bottom {
    display: none;
}

.footer__menu {
    width: 70.91%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer__menu ul:not(:last-child) {
    margin-right: 4px;
}

.footer-nav__item {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    transition: 0.2s linear;
}

.footer-nav__item:hover {
    opacity: 0.7;
}

.link__icon {
    display: flex;
    align-items: center;
}

.link__icon::after {
    background: url(../imgs/common/icon-link.svg) center no-repeat;
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
}

.footer-nav__item--child {
    font-size: 1.4rem;
    transition: 0.2s linear;

}

.footer-nav__item--child:hover {
    opacity: 0.7;
}

.copyright {
    margin-top: 10px;
    border-top: 1px solid #3f5563;
    padding: 15px 0 10px;
}

.copyright__contain {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.copyright__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-nav__item {
    font-size: 1.2rem;
}

.copyright-nav__item:not(:last-child) {
    margin-right: min(4vw, 35px);
}

.copyright-nav__item.link__icon:not(:last-child) {
    margin-right: min(3vw, 25px);
}

.copyright__title {
    font-size: 1.2rem;
    text-align: center;
    color: #D9D9D9;
}

@media (max-width: 968px) {
    .footer__menu {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .footer__inner {
        flex-direction: column;
    }

    .footer__logo {
        width: 100%;
    }

    .footer-logo__bottom {
        margin-top: 20px;
    }

    .footer__menu {
        width: 100%;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer__menu ul {
        width: fit-content;
    }

    .footer__menu ul:not(:last-child) {
        margin-right: min(5vw, 50px);
        margin-bottom: 30px;
    }

    .top .footer-logo__top {
        margin-right: 10px;
    }
    .copyright__nav{
        flex-direction: column;
    }
    .copyright-nav__item{
        margin: 0 0 10px 0;
    }
}

/* End Footer */


/* Animation */
.fade-in {
    opacity: 0;
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-in.is-view {
    opacity: 1;
    filter: blur(0) brightness(100%);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-up.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-left.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    filter: blur(5px) brightness(105%);
    transition: 1s ease;
}

.fade-right.is-view {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    filter: blur(0) brightness(100%);
}

@media (min-width: 768px) {
    .delay1 {
        transition-delay: .2s;
    }

    .delay2 {
        transition-delay: .4s;
    }

    .delay3 {
        transition-delay: .6s;
    }
}


/* ==================================================================== */
/* ============================ Start Service ============================ */
/* ==================================================================== */
.service {}

.block-yt{
    margin: min(6vw, 50px) 0 min(8vw, 70px);
}
.yt-title{
    font-size: 2rem;
    color: var(--color-darkblue);
    margin: 0 auto;
    width: fit-content;
    position: relative;
}
.yt-title span{
    color: #F45050;
}
.yt-title::after,
.yt-title::before{
    position: absolute;
    top: 10%;
    height: 35px;
    width: 3px;
    background: var(--color-darkblue);
    content: "";
    border-radius: 3px;
}
.yt-title::after{
    right: -25px;
    transform: rotate(30deg);
}
.yt-title::before{
    left: -25px;
    transform: rotate(-30deg);
}
.yt-iframe{
    margin-top: 10px;
    text-align: center;
}
.block-chart{
    margin-bottom: 30px;
}
.block-chart-img{
    text-align: center;
}

/* Tab */
.tab{
    max-width: 1200px;
    margin: 0 auto 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
}
.tab__item{
    display: flex;
    align-items: center;
    width: 22.5%;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-darkblue);
    border-radius: 7px;
    border: 1px solid var(--color-darkblue);
    padding: 25px 0 25px 30px;
    background: #ffffff;
    transition: 0.2s linear;
}
.tab__item::before{
    content: "";
    display: inline-block;
    -webkit-mask: url("../imgs/common/icon-circle-arrow.svg") no-repeat center;
    mask: url("../imgs/common/icon-circle-arrow.svg") no-repeat center;
    width: 25px;
    height: 25px;
    background: var(--color-darkblue);
    margin-right: 10px;
    transition: 0.2s linear;
}
.tab__item:hover{
    background: var(--color-darkblue);
    color: #ffffff;
}
.tab__item:hover::before{
    background: #ffffff;
}

/* End Tab */

/* Service Feature */
.service-feature{
    max-width: 1210px;
    margin: 0 auto;
}
.feature__item{
    margin-bottom: min(13vw, 110px);
}
.feature__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: min(6vw, 50px);
}
.feature__number{
    width: 8.265%;
}
.feature-head__txt{
    width: 89.257%;
}
.feature-head__title{
    color: var(--color-red);
    font-size: 2.8rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.feature__outer{
    display: flex;
    justify-content: space-between;
}
.feature__inner{
    width: 47.108%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature__content{
    margin-bottom: min(2.5vw, 25px);
}
.feature__subtitle{
    font-size: 2.4rem;
    color: var(--color-darkblue);
    line-height: 1.6;
    margin-bottom: min(1.5vw, 15px);
}
.feature-item__btn a{
    margin: min(6vw, 55px) auto 0;
}
.feature-inner__btn{
    margin-top: min(6vw, 60px);
}
.feature-inner__btn .btn__radius{
    margin: 0;
}
.feature__inner:nth-child(1) .feature-inner__btn{
    display: flex;
    justify-content: flex-end;
}
/* End Service Feature */

/* Can do */
.cando{

}
.cando__group{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.cando__item{
    width: 25.926%;
    margin: 0 11.112% 4.63% 0;
}
.cando__item:nth-child(3n + 3){
    margin-right: 0;
}
.cando-item__img{
    text-align: center;
}
.cando-item__content{
    margin-top: 20px;
}
.cando-item__title{
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
    color: var(--color-darkblue);
}
/* End Can do */

/* Supports */
.supports{
    padding: 222px 0 70px;
    margin-bottom: 100px;
    position: relative;
    background: #F5FBFF;
}
.supports::before{
    content: "";
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: min(15vw, 146px);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.job__group{
    max-width: 1110px;
    margin: 0 auto 80px;
    display: flex;
    flex-wrap: wrap;
}
.job__item{
    width: 21.622%;
    margin: 0 4.505% 0 0;
}
.job__item:nth-child(4n + 4){
    margin-right: 0;
}

.job-item__img{
    text-align: center;
}
.job-item__content{
    margin-top: 20px;
}
.job-item__title{
    font-size: 1.8rem;
    color: var(--color-darkblue);
    width: 100%;
    max-width: 240px;
    text-align: center;
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid var(--color-darkblue);
}
.job-item__list{
    margin: 15px 0 0 12px;
}
.job-item__desc{
    margin-bottom: 6px;
    text-indent: -2em;
    padding-left: 2em;
}
.job-item__desc::before{
    background: url(../imgs/common/icon-stick-bold.svg) center no-repeat;
    width: 21px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    content: "";
}

.automate{

}
.automate .main-heading{
    margin-bottom: 45px;
}
.automate__group{
    display: flex;
    justify-content: space-between;
}
.automate__item{
    width: 48.388%;
}
.automate-item__outer{
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 20px 25px 20px;
}
.automate-item__inner{
    margin-bottom: 30px;
}
.automate-item__head{
    display: flex;
    margin-bottom: 20px;
}
.automate-item__avt{
    margin-right: 14px;
    width: 80px;
}
.automate-item__pos{
    font-size: 2rem;
    color: var(--color-darkblue);
    font-weight: bold;
    line-height: 1.7;
}
.btn__pill--outline{
    background: #ffffff;
    border: 1px solid var(--color-darkblue);
    color: var(--color-darkblue);
    font-size: 1.8rem;
    line-height: 1.7;
    max-width: 217px;
    padding: 6px 0;
}
.automate-item__img{
    text-align: center;
}
.automate-item__btn{
    margin-top: min(6vw, 60px);
}
.automate-item__btn .btn__radius{
    margin: 0;
}
.automate__item:nth-child(1) .automate-item__btn{
    display: flex;
    justify-content: flex-end;
}
.automate-item__bottom .btn__pill--outline{
    margin: 0 0 min(2.5vw, 25px) min(9vw, 90px);
}
/* End Supports */
/* Company */
.company{
    margin-bottom: min(12vw, 110px);
}
.company .block__desc{
    margin-bottom: min(8vw, 70px);
}
.company__group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -5.845%;
}
.company__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5.834% 5% 0;
}
.company__note{
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: min(6vw, 50px);
}
/* End Company */
/* Block Step */
.block-step{
    margin-bottom: min(12vw, 120px);
}
.step__group{
    max-width: 1080px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
}
.step__item{
    width: 22.223%;
    margin-right: 3.704%;
}
.step__item:last-child{
    margin: 0;
}
.step-item__img{
    text-align: center;
    position: relative;
}
.step-item__img::before{
    position: absolute;
    width: 100%;
    height: 2px;
    /* background: #F8F8F8; */
    background: red;
    content: "";
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
}
.step__item:last-child .step-item__img::before{
    display: none;
}
.step-item__content{
    margin-top: min(5.5vw, 53px);
}
.step-item__number{
    font-size: 1.6rem;
    background: var(--color-darkblue);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    width: 80px;
    margin: 0 auto;
    padding: 7px 0;
    line-height: 1;
}
.step-item__title{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-darkblue);
    margin: 20px 0 10px 0;
}
.step-item__desc{
    font-size: 1.4rem;
    text-align: justify;
}
/* End Block Step */

/* ==================================================================== */
/* ============================ End Service ============================ */
/* ==================================================================== */